.body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/005/217/222/original/gaming-background-blue-and-purple-with-element-vector.jpg");
  height: 100vh;
  background-size: cover;
  color: whitesmoke;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input {
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.submit-button {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
}
.newgame-button {
  margin: 10px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: yellowgreen;
  color: white;
  font-weight: 500;
}
.submit-button:hover {
  cursor: pointer;
}
.newgame-button:hover {
  cursor: pointer;
  transition: 0.4s ease-in-out;
  background-color: whitesmoke;
  color: black;
}
.username {
  color: yellowgreen;
  text-transform: uppercase;
}
.congrats {
  color: yellowgreen;
}
.winner {
  color: rgb(176, 19, 233);
}
.winner-section {
  color: black;
  text-align: center;
  background-color: whitesmoke;
  height: 150px;
  width: 400px;
  border-radius: 10px;
  padding: 10px;
}
.guess-left {
  padding-left: 30px;
}
